  @font-face {      
    font-family: "Visia Pro";
    font-style: oblique 0deg 12deg;
    src: url("../fonts/VisiaPro-Bold.woff");
  }

    body {
        background-color: f8f8f8;
    }

    * {
      font-family: "Visia Pro";
    }
    
    h1, h2, h3, h4, p {
      color: white;
    }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
 

      .nav-item.dropdown {
        display: inline;
        float: left;
      }
      
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }

      .navbar {
        z-index: 999;
        height: 20rem;
        /* background-color: grey; */
      }

      .navbar-brand {
        display: block;
        position: absolute;
        left: 3rem;
        top: 3rem;
      }

      .navbar-brand-small {
        height: 7rem;
      }

      .logo {
        height: 100%;
      }
    
    .text-wrapper {
      background: red;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      width: auto;
    }

    .carousel.slide {
      top: 0px;
      left: 0px;
      position: absolute;
      height: 100vh !important;
    }
    /* version f. nebenseiten (imprint, faq, ect) */
    .carousel.slide.small {
      height: 40vh !important;
    }
    
    .carousel-inner {
      height: 100%;
    }
      
    .carousel-inner .item {
        width: 100%; 
        height: 100% !important;
        background: red;
    } 

    .carousel-inner .item img{
      object-fit: cover;
      background-position: 50% 50%;
      background-position: center;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
    }
  
    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display:none;
      }
    }
